/* Default React Styles */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Sectional Styles */
html, body {
  height: 100%;
}

div.wrapper {
  min-height: 100%;
}

div#main {
  overflow: auto;
  padding-bottom: 50px;
}

/* Background Styles */
div.bg {
  background-image: url("./pages/images/newspaper.jpg");
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Form Styles */
button#clear {
  margin-right: 20px;
}

button#submit {
  margin-right: 3px;
}

.card-body div button {
  float: right;
}

select#numOfRecs {
  padding: .375rem .60rem;
}

.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Article Display Styles */

.header {
  text-align: center;
}

.card-body div div.row {
  display: block;
  margin: 30px auto;
}

div.section {
  margin: 30px auto;
}

div.article {
  margin: 20px auto;
}

.card-body img {
  width: 100px;
  margin-left: 20px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

/* Footer Styles */
footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  padding-top: 20px;
  color: #fff;
  background-color: #343a40;
  padding-left: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}